<div class="theory-search-container">

    <div class="theory-search-header">

        <h2>
            Buscar secciones
        </h2>

        <p>
            Busque secciones por nombre de profesor.
        </p>

    </div>


    <div class="theory-search-input-container">

        <div class="input-group">

            <span class="input-group-text">

                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-search"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M11 6a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"
                    />

                    <path
                        d="M10.344 11.742a6.5 6.5 0 0 1-1.397 1.398
                        h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0
                        1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1z"
                    />
                </svg>

            </span>

            <input
                type="text"
                id="theory-search-input"
                class="form-control"
                placeholder="Ingrese el nombre del profesor..."
                autocomplete="off"
            >

        </div>

    </div>


    <div
        id="theory-search-results"
        class="theory-search-results"
    >

    </div>

</div>
